button{
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
    letter-spacing: -0.84px;
    width: 150px;
    height: 50px;
}

.opaque-button{
    background-color: #06B596;
    border: none;
    color: white;

}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 300px;
    margin: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

figcaption {
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.84px;
}

.card {
    filter: grayscale(100%);
}
  

  