/* LAYOUT CLASSES */
/* Phone */
.container{
    grid-template-rows: 70px 1300px 1fr;
}

/* Tablet */
@media (min-width:600px) and (max-width:900px){
    .container{
        grid-template-rows: 70px 900px 1fr;
    }
}

/* Desktop */
@media (min-width:901px){
    .container{
        grid-template-rows: 70px 600px 1fr;
    }
}

.box{
    /* border: 1px solid red; */
}

.container{
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

.header{
    grid-area:hd;
    text-align: center;
}

.content{
    grid-area: main;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
}

.footer{
    grid-area: ft;
    text-align: right;
}