body{
    font-family: "Times New Roman", Times, serif;
    font-size: 48px; 
    letter-spacing: -3.75px;
}

/* TYPOGRAPHY CLASSES */
.title{
    font-size: 30px;
    letter-spacing: -2px;
    text-align: left;
}

.anchor{
    font-size: 18px;
    letter-spacing: 0px;
    color: #06B596;
    padding-top: 10px;
}

.small{
    font-size: 12px;
    letter-spacing: 0px;
    color: #A1A1A1;
}

.text{
    font-size: 18px;
    letter-spacing: -0.84px;
    text-align: left;
}

/* LAYOUT CLASSES */
/* Phone */
.container{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 30px repeat(5,1fr);
    grid-template-rows: 70px 1350px 700px 30px;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "main main main main main main"
    "sd sd sd sd sd sd"
    "ft ft ft ft ft ft";
    border: 2px solid yellow;
}

.box-container{
    width: 250px;
    max-height: 200px;
    margin: auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Tablet */
@media (min-width:600px) and (max-width:900px){
    .container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 30px repeat(5,1fr);
        grid-template-rows: 70px 1100px 700px 30px;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "main main main main main main"
        "sd sd sd sd sd sd"
        "ft ft ft ft ft ft";
        border: 2px solid yellow;
    }
    
    .box-container{
        width: 750px;
        max-height: 200px;
        margin: auto;
        padding: 15px;
        border: 1px solid black;
        border-radius: 5px;
    }
}

/* Desktop */
@media (min-width:901px){
    .container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 30px repeat(7,1fr);
        grid-template-rows: 70px 1200px 30px;;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "main main main main main main sd sd"
        "ft ft ft ft ft ft ft ft";
        border: 2px solid yellow;
    }

    .box-container{
        width: 750px;
        max-height: 200px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 15px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 30px; 
    }
}

.box{
    border: 1px solid red;
}

.post-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header{
    grid-area:hd;
    text-align: center;
}

.content{
    grid-area: main;
} 

.sidebar{
    grid-area: sd;
    text-align: center;
}

.footer{
    grid-area: ft;
    text-align: center;
}